/* Layout.css */
.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa;
  overflow: hidden;
}

.app-content {
  flex-grow: 1;
  width: 100%;
  max-width: 1280px; /* Set a max-width for the content */
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.app-footer {
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #6c757d;
  background-color: #fff;
  border-top: 1px solid #dee2e6;
}
